<script>
  import AttributeRoller from "$lib/components/dice-roller/AttributeRoller.svelte";
  import DamageRoller from "$lib/components/dice-roller/DamageRoller.svelte";
  import DiceRoller from "$lib/components/dice-roller/DiceRoller.svelte";
  import LuckRoller from "$lib/components/dice-roller/LuckRoller.svelte";
  import RollHistory from "$lib/components/dice-roller/RollHistory.svelte";
  import RollResult from "$lib/components/dice-roller/RollResult.svelte";
  import { currentRoll, storeRollInHistory } from "$lib/stores";
  import { onDestroy } from "svelte";
  const unsubscribe = currentRoll.subscribe((value) => {
    if (value && value.result) {
      storeRollInHistory(value);
    }
  });
  onDestroy(() => {
    unsubscribe();
  });
</script>

<div class="m-20 flex flex-col items-center gap-4">
  <div class="basis-3 grow-0">
    <DiceRoller />
  </div>
  <div
    class="text-xs bg-white card card-compact shadow-xl
    w-96 p-4 pr-0 mb-4 h-48 max-h-48 overflow-auto"
  >
    <RollHistory />
  </div>
</div>
