<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="flex flex-col items-center">
      <h2 class="text-xl tracking-wider font-light">
        Welcome to the Wacky Warlock's
      </h2>
      <h1 class="text-4xl tracking-tighter font-bold">Weird Wizard Workshop</h1>
    </div>
  </div>
</div>
