<script>
  import SubMenu from "./SubMenu.svelte";

  function closeSubMenus() {
    const detailsElements = document.getElementsByTagName("details");
    if (detailsElements === null) {
      return;
    }
    for (let i = 0; i < detailsElements.length; ++i) {
      if (!detailsElements[i]) {
        continue;
      }
      detailsElements[i].open = false;
    }
  }
</script>

<div class="navbar bg-base-100">
  <a href="/" class="btn btn-ghost normal-case text-xl">Wacky Warlock </a>
  <div class="navbar-end flex-5">
    <ul class="menu menu-horizontal px-1">
      <li on:click={() => closeSubMenus()}><a href="/">Home</a></li>
      <li class="disabled">
        <details>
          <summary> Rules </summary>
          <SubMenu>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Attributes</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Combat</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Conditions</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Damage & Health</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Weapon Traits</a>
            </li>
          </SubMenu>
        </details>
      </li>
      <li>
        <details>
          <summary> Tools </summary>
          <SubMenu>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Character Creator</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Random Character</a>
            </li>
            <li on:click={() => closeSubMenus()}>
              <a href="/tools/dice-roller">Dice Roller</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Random Treasure</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Encounter Generator</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Combat Tracker (Luck Ends Roller)</a>
            </li>
          </SubMenu>
        </details>
      </li>
      <li class="disabled">
        <details>
          <summary> References </summary>
          <SubMenu>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Ancestries</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Paths</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Spells</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Adventures</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Enemies</a>
            </li>
            <li class="disabled" on:click={() => closeSubMenus()}>
              <a>Links</a>
            </li>
          </SubMenu>
        </details>
      </li>
      <li class="disabled" on:click={() => closeSubMenus()}><a>About</a></li>
    </ul>
  </div>
</div>
