<script lang="ts">
  import RollDialog from "./RollDialog.svelte";
  import { attributeScores, setupRoll } from "$lib/stores";
  import { RollType } from "$lib/dice-roller/roll";
  import { onDestroy } from "svelte";

  export let attributeName: string = "";
  let score = 10;
  const unsubscribe = attributeScores.subscribe((scores) => {
    switch (attributeName) {
      case "Strength":
        score = scores.Strength;
        break;
      case "Agility":
        score = scores.Agility;
        break;
      case "Intellect":
        score = scores.Intellect;
        break;
      case "Will":
        score = scores.Will;
        break;
      default:
        alert("Unknown Attribute score");
    }
  });

  function updateScore(event: any) {
    score = event.target.value;

    attributeScores.update((scores) => {
      switch (attributeName) {
        case "Strength":
          scores.Strength = score;
          break;
        case "Agility":
          scores.Agility = score;
          break;
        case "Intellect":
          scores.Intellect = score;
          break;
        case "Will":
          scores.Will = score;
          break;
        default:
          alert("Unknown Attribute score");
      }

      localStorage.setItem(`DiceRoller_${attributeName}`, score.toString());
      return scores;
    });
  }
  $: mod = score > 10 ? `+${score - 10}` : score - 10;
  onDestroy(unsubscribe);
</script>

<label for="attribute-score">{attributeName}</label>
<div>
  <input
    class="input input-bordered w-20"
    name="attribute-score"
    type="number"
    min="1"
    max="20"
    value={score}
    on:change={(event) => updateScore(event)}
  />

  <button
    on:click={() => {
      setupRoll(RollType.Attribute, attributeName + " Roll", score - 10);
    }}
    class="btn shadow">Roll ({mod})</button
  >
  <RollDialog />
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
</style>
