<script>
  import { RollType } from "$lib/dice-roller/roll";

  import { setupRoll } from "$lib/stores";
</script>

<button
  on:click={() => {
    setupRoll(RollType.Damage, "Damage Roll", 0);
  }}
  class="btn shadow mt-6"
>
  Damage Roll
</button>
