<script>
  import AttributeRoller from "./AttributeRoller.svelte";
  import DamageRoller from "./DamageRoller.svelte";
  import LuckRoller from "./LuckRoller.svelte";
  import RollResult from "./RollResult.svelte";
</script>

<div class="card card-compact w-96 shadow-xl bg-white p-4">
  <h2 class="text-xl font-semibold">Dice Roller</h2>
  <div class="flex gap-5">
    <div class="flex flex-col">
      <AttributeRoller attributeName={"Strength"} />
      <AttributeRoller attributeName={"Agility"} />
      <AttributeRoller attributeName={"Intellect"} />
      <AttributeRoller attributeName={"Will"} />
    </div>
    <div class="flex flex-col">
      <LuckRoller />
      <DamageRoller />
    </div>
  </div>
  <RollResult />
</div>
