<script lang="ts">
  import { createResultTooltip } from "$lib/dice-roller/roll";
  import { reversedRollHistory } from "$lib/stores";
</script>

<div class="flex flex-col gap-1">
  {#each $reversedRollHistory as result}
    <div>
      <p class="italic">
        {result.timestamp.toLocaleString()}
      </p>
      <p class="font-bold">
        {result.title}:
        <span
          class="
          tooltip tooltip-right
          underline decoration-dotted decoration-1 underline-offset-1
          select-none cursor-help
          before:font-normal before:text-xs
          before:whitespace-prewrap before:max-h-20
          before:overflow-hidden
          "
          data-tip={createResultTooltip(result)}>{result.result}</span
        >
      </p>
    </div>
  {/each}
</div>

<style>
  .tooltip::before {
    max-width: 12rem;
  }
</style>
