<script lang="ts">
  import {
    calculateResult,
    rollAttribute,
    type DieResult,
    RollType,
    rollDamage,
  } from "$lib/dice-roller/roll";
  import { currentRoll, rollerDialogOpen } from "$lib/stores";
  let boonsOrBanes = 0;
  let damageDice = 1;
  export let rollAttributeType = RollType.Attribute;

  function roll(): void {
    rollerDialogOpen.set(false);
    currentRoll.update((roll) => {
      if (!roll) {
        return roll;
      }

      let bonus = roll.bonus;
      if (!bonus) {
        bonus = 0;
      }

      let rollResult: DieResult[] = [];

      switch (roll.rollType) {
        case RollType.Attribute:
          rollResult = rollAttribute(bonus, boonsOrBanes);
          break;
        case RollType.Luck:
          rollResult = rollAttribute(bonus, boonsOrBanes);
          break;
        case RollType.Damage:
          rollResult = rollDamage(damageDice);
          return {
            ...roll,
            rolledDice: rollResult,
            result: rollResult
              .map((r) => r.result)
              .reduce((prev, curr) => curr + prev),
          };
      }

      return {
        ...roll,
        rolledDice: rollResult,
        result: calculateResult(rollResult),
      };
    });
  }
</script>

<dialog id="rollModal" class="modal" class:modal-open={$rollerDialogOpen}>
  <div class="modal-box flex flex-col items-start gap-4">
    {#if $currentRoll?.rollType === RollType.Damage}
      <h3 class="font-bold text-xl">Damage Dice</h3>
      <input
        type="number"
        bind:value={damageDice}
        min="1"
        max="30"
        class="input input-bordered"
      />
    {:else}
      <h3 class="font-bold text-xl">Boons/Banes</h3>
      <input
        type="number"
        bind:value={boonsOrBanes}
        min="-10"
        max="10"
        class="input input-bordered"
      />
    {/if}

    <button class="btn" on:click={() => roll()}>Roll</button>
  </div>
</dialog>
