<script lang="ts">
  import {
    isBane,
    isBoon,
    type DieResult,
    type RollResult,
    isAttributeRoll,
    findHighestBane,
    findHighestBoon,
    RollType,
    createResultTooltip,
  } from "$lib/dice-roller/roll";
  import { currentRoll } from "$lib/stores";
  import { onDestroy } from "svelte";
  let boons: DieResult[] = [];
  let banes: DieResult[] = [];
  let resultTooltip = "";

  const unsubscribe = currentRoll.subscribe((roll) => {
    if (!roll || !roll.rolledDice) {
      return;
    }

    boons = roll?.rolledDice.filter((die) => isBoon(die));
    banes = roll?.rolledDice.filter((die) => isBane(die));
    resultTooltip = createResultTooltip(roll);
  });
  onDestroy(unsubscribe);
</script>

<div class:invisible={!$currentRoll?.result}>
  <h3 class="text-lg font-bold">{$currentRoll?.title}</h3>
  <div>
    <p
      class="tooltip tooltip-right text-xl cursor-default underline decoration-dotted cursor-help"
      data-tip={resultTooltip}
    >
      {$currentRoll?.result}
    </p>
  </div>
  {#if boons.length > 0}
    <h4 class="text-base font-bold">Boons</h4>
    {boons.map((boon) => boon.result).join(", ")}
  {/if}

  {#if banes.length > 0}
    <h4 class="text-base font-bold">Banes</h4>
    {banes.map((bane) => bane.result).join(", ")}
  {/if}
</div>
